@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    font-family: 'Pretendard Variable';
}
.mob_space {
    display: none;
}
/*main*/
/*배너*/
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 120px;
    box-sizing: border-box;
    background: #68F394;
    text-align: center;
    position: relative;
}

/* 1. 지구쪽 이미지 */

/* 360도 회전 */
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.banner .bn-earth-box {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* padding: 100px; */
    box-sizing: border-box;
    margin: -40px auto;
}
/* earth_circle에 회전 애니메이션 적용 */
.banner .bn-earth-box .line_container {
    width: 100%;
    margin: 0 auto;
    animation: rotate 20s linear infinite; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner .bn-earth-box .line_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*배너 아이템 회전 애니메이션 적용*/
.banner .bn-earth-box .bn_item {
    width: 200%;
    max-width: 1060px;
    height: 1064px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bn_item  > svg {
    width: 100%;
    height: 100%;
}
.itemrotate {
    animation: itemrotate 20s linear infinite; /* 20초 동안 회전하는 애니메이션 */
    transform-origin: center; /* SVG의 중앙에서 회전 */
}

@keyframes itemrotate {
    0% {
        transform: rotate(0deg); /* 회전 시작 */
    }
    100% {
        transform: rotate(360deg); /* 360도 회전 */
    }
}

/* earth에 회전 애니메이션 적용 */
.banner .bn-earth-box .earth_container {
    max-width: 498px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 20s linear infinite; 
}
.banner .bn-earth-box .earth_container img {
    float: left;
}

/* 2. 텍스트 */
.banner .bn-text-box .text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}




.f_18{
    font-size: 20px;
}
.f_24{
    font-size: 24px;
}
.banner .text-overlay h2{
    padding: 50px 0 10px;
    font-size: 60px;
}
.banner .bn-text-box .f_17{
    padding-top: 50px;
    font-size: 22px;
}
/* 3. 4개 동그라미 */
.banner .bn-circle-box {
    width: 100%;
    max-width: 810px;
    min-height: 869px; 
    box-sizing: border-box;
    position: absolute;
    top: 51.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.banner .bn-circle-box ul.circle{
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;
    transition: opacity 0.5s ease;
    position: absolute;
}
.circle.none {
    opacity: 0;
}
.circle.visible {
    opacity: 1; /* 보이게 설정 */
}
ul.cl_01 {
    top:  0%;
    left: 50%;
    transform: translateX(-50%);
}
ul.cl_02 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
ul.cl_03 {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
ul.cl_04 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
ul.circle img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.shadow {
    box-shadow: 3px 3px 4px #00000044;
}
.banner .bn-circle-box .circle li{
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 17px;
}



/*내용*/
section.detail_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*세계 에너지원의 변화*/
article.detail01, article.detail02 {
    width: 100%;
}
.deteil01_wrap,.detail02_wrap{
    padding-top: 120px;
}
.deteil01_wrap > .txt_area {
    width: 100%;
    overflow: hidden;
}
.deteil01_wrap > .txt_area h3 {
    width: 30%;
    float: left;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #4627E2;
}
.deteil01_wrap > .txt_area p {
    float: left;
    width: 70%;
    font-size: 19px;
    line-height: 33px;
    font-weight: 400;
}
/*그래프 영역*/
.graph_area {
    width: 100%;
    height: 558px;
    margin-top: 100px;
    background: url(../img_sub1/graph.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.graph_area .graph_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.graph_wrap > svg {
    position: absolute;
    right: 0;
}
.graph_area svg path {
    fill: transparent;
    transition: fill 1.5s ease, transform 0.8s ease;
}
svg.graph01 {
    bottom: 132px;
}
svg.graph02 {
    bottom: 87px;
}
svg.graph03 {
    bottom: 59px;
}
svg.graph04 {
    bottom: 33px;
}
svg.graph05 {
    bottom: 32px;
}
.graphName > div {
    width: fit-content;
    padding: 6px 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    left: 260px;
    box-shadow: 2px 2px 4px #00000061;
}
.graphName .name01{
    top: 30px;
    background: #B5B6B6;
    color: #fff;
    border: none;
}
.graphName .name02{
    top: 30px;
    left: 440px;
    background: #B5B6B6;
    color: #fff;
    border: none;
}
.graphName .name03{
    top: 147px;
    left: 264px;
}
.graphName .name04{
    top: 237px;
    left: 250px;
}
.graphName .name05{
    top: 338px;
    left: 285px;
}
.graphName .name06{
    top: 444px;
    left: 278px;
}
.graphName .name07{
    top: 274px;
    left: auto;
    right: 134px;
    z-index: 10;
}
svg.dashLine {
    position: absolute;
    left: 407px;
    bottom: 32px;
}

/*탄소 사회에서 수소사회로*/
.detail02_wrap {
    padding-top: 320px;
}
.detail02_wrap > h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #4627E2;
}
.detail02_wrap > h3 > span {
    display: block;
    font-size: 24px;
    color: #000;
    line-height: 44px;
}
/*이미지 부분*/
.detail02_wrap .img_wrap {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 14px;
}
.detail02_wrap .img_wrap > .Co2 {
    width: calc(100% / 3 - 14px);
    height: 501px;
    box-sizing: border-box;
    position: relative;
}
.Co2.grayCo2::after, .blueCo2::after {
    display: block;
    content: '';
    width: 3px;
    height: 100%;
    border-left: 3px dotted #E2E2E2;
    position: absolute;
    top: 0;
    right: -11px;
}
.img_wrap > .Co2 .img_title {
    width: fit-content;
    margin: 0 auto;
    background: #ccc;
    padding: 4px 16px;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
}
.img_wrap > .Co2 .img_title.gray {
    background: #677381;
}
.img_wrap > .Co2 .img_title.bule {
    background: #02A7C4;
}
.img_wrap > .Co2 .img_title.green {
    background: #68F394;
    color: #000;
}
.img_wrap > .Co2 > img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.img_wrap > .Co2 .arrowBox {
    width: fit-content;
    text-align: center;
    position: absolute;
    bottom: 180px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.img_wrap > .Co2 .arrowBox.arrow01 {
    left: 0;
}
.img_wrap > .blueCo2 .arrowBox.arrow01 {
    left: -14px;
}
.img_wrap > .greenCo2 .arrowBox.arrow01 {
    left: -14px;
}

.img_wrap > .Co2 .arrowBox.arrow02 {
    right: 0;
}
.img_wrap > .grayCo2 .arrowBox.arrow02 {
    right: 14px;
}
.img_wrap > .blueCo2 .arrowBox.arrow02 {
    right: 14px;
}

.img_wrap > .Co2 .arrowBox.arrow03 {
    bottom: 250px;
}
.img_wrap > .greenCo2 .arrowBox.arrow03 {
    left: -14px;
}
.img_wrap > .Co2 .arrowBox img { 
    width: 100%;
}
.img_wrap > .Co2 .arrowBox > span{
    display: block;
    margin-bottom: 2px;
    color: #677381;
}
.img_wrap > .Co2 .finishTxt {
    width: fit-content;
    padding: 6px 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 2px 2px 4px #00000061;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
/**/
:root {
    --animate__faster: 300ms;   /*애니메이션(ani) 실행 시간*/
}
/*탄소중립연료 E-Fuel 수송용 연료의 미래*/
article.detail03 {
    width: calc(100% + 12px);
    box-sizing: border-box;
}
.detail03_wrap {
    padding-top: 320px;
    padding-bottom: 220px;
}
.detail03_wrap > h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #4627E2;
}
.puzzleBox_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 35px;
}

/*각각의 outBox 박스 너비 지정*/
.puzzleBox_wrap .outBox {
    height: 250px;
    overflow: hidden;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.puzzleBox_wrap .outBox01 {
    width: 50%;
}
.puzzleBox_wrap .outBox02 {
    width: 50%;
}
.puzzleBox_wrap .outBox03 {
    width: calc(100% / 4);
    height: 500px;
}
.puzzleBox_wrap .outBox04 {
    width: calc(100% / 2);
}
.puzzleBox_wrap .outBox07 {
    width: calc(100% /2);
}
/*outBox 안 li 너비*/
.outBox01 li,  .outBox02 li, .outBox04 li, .outBox07 li{
    width: calc(100% / 2);
    height: 100%;
    float: left;
}

/*텍스트 컬러 박스*/
.outBox .colorBox {
    padding: 30px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    box-sizing: border-box;
    border: 3px solid #fff;
}
.outBox01 .colorBox, .outBox04 .colorBox {
    background: #68F394;
}
.outBox02 .colorBox, .outBox07 .colorBox {
    background: #03C340;
    color: #fff;
}

/*호버 텍스트 박스*/
li.textBox {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    background: #4627E2;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    box-sizing: border-box;
    z-index: 20;
    border: 3px solid #fff;
    border-bottom: none;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.2s;
}

.imgBox{
    position: relative;
    transition: opacity 0.2s;
}
.imgBox:hover .beforHover{
    opacity: 0;
}
/*호버 전 박스*/
.beforHover {
    display: block;
    width: 100%;
    height: 100%;
    background: #24242426;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 20;
}











/*반응형*/
@media (max-width: 1254px) {
    section.detail_content {
        max-width: 948px;
    }
    .graph_wrap > svg {
        width: 96%;
    }
    svg.graph01 {
        bottom: 75px;
    }
    svg.graph02 {
        bottom: 42px;
    }
    svg.graph03 {
        bottom: 20px;
    }
    svg.graph04 {
        bottom: 10px;
    }
    svg.graph05 {
        bottom: 15px;
    }
    svg.dashLine {
        height: 90%;
        position: absolute;
        bottom: 30px;
        left: -50px;
    }
    .puzzleBox_wrap .outBox03 {
        display: none;
    }
    .puzzleBox_wrap .outBox05 {
        display: none;
    }
    .puzzleBox_wrap .outBox06 {
        display: none;
    }
    .outBox .colorBox {
        font-size: 20px;
        line-height: 32px;
    }
}
@media (max-width: 1000px) {
    .mob_space {
        display: block;
    }
    .f_18{
        font-size: 1.8vw;
    }
    .f_24{
        font-size: 2.5vw;
    }
    .banner .text-overlay h2{
        padding: 10% 0 8%;
        font-size: 5vw;
    }
    .banner .bn-text-box .f_17{
        padding-top: 10%;
        font-size: 2vw;
    }
    .banner .bn-circle-box{
        height: 85vw;
        min-width: 426px;
        min-height: 100px !important; 
    }
    .banner .bn-circle-box ul.circle{
        width: 16vw;
    }
    ul.cl_02 {
        margin-right: 40px;
    }
    ul.cl_04 {
        margin-left: 40px;
    }
    .banner .bn-circle-box .circle li {
        font-size: 2vw !important;
        bottom: 3vw !important;
    }
}
@media (max-width: 985px) {
        section.detail_content {
            max-width: 600px;
        }
        .deteil01_wrap > .txt_area h3 {
            width: 100%;
            float: none;
            font-size: 30px;
        }
        .detail02_wrap > h3 {
            font-size: 30px;
        }
        .detail02_wrap > h3 > span {
            font-size: 22px;
        }
        .detail03_wrap > h3 {
            font-size: 30px;
        }
        .deteil01_wrap > .txt_area h3 br.pc_space{
            display: none;
        }
        .deteil01_wrap > .txt_area p {
            width: 100%;
            padding-top: 42px;
            float: none;
        }
        .graph_area {
            height: 340px;
            margin-top: 37px;
        }
        svg.graph01 {
            bottom: -13px;
        }
        svg.graph02 {
            bottom: -28px;
        }
        svg.graph03 {
            bottom: -44px;
        }
        svg.graph04 {
            bottom: -37px;
        }
        svg.graph05 {
            bottom: -12px;
        }
        .graphName > div {
            padding: 4px 8px;
            left: 158px;
            font-size: 11px;
        }
        .graphName .name02 {
            left: 255px;
        }
        .graphName .name03 {
            top: 133px;
            left: 132px;
        }
        .graphName .name04 {
            top: 165px;
            left: 124px;
        }
        .graphName .name05 {
            top: 222px;
            left: 148px;
        }
        .graphName .name06 {
            top: 278px;
            left: 144px;
        }
        .graphName .name07 {
            top: 184px;
            right: 64px;
        }
        .detail02_wrap {
            padding-top: 150px;
        }
        .detail02_wrap .img_wrap {
            display: block;
            padding-top: 0px;
        }
        .img_wrap > .Co2 .img_title {
            position: relative;
            top: 15px;
        }
        .detail02_wrap .img_wrap > .Co2 {
            width: 100%;
            height: 364px;
            margin-top: 42px;
        }
        .img_wrap > .Co2 > img {
            width: 16em;
            min-width: 256px;
        }
        .img_wrap .arrowBox {
            width: 63px !important;
            font-size: 12px;
        }
        .img_wrap > .Co2 .arrowBox {
            bottom: 101px;
        }
        .img_wrap > .Co2 .arrowBox.arrow01 {
            left: 24%;
        }
        .img_wrap > .grayCo2 .arrowBox.arrow02 {
            right: 24%;
        }
        .img_wrap > .blueCo2 .arrowBox.arrow02 {
            right: 25%;
        }
        .img_wrap > .greenCo2 .arrowBox.arrow02 {
            right: 26%;
        }
        .img_wrap > .Co2 .arrowBox.arrow03 {
            width: 100px !important;
            left: 24%;
            bottom: 156px;
        }
        .img_wrap > .Co2 .finishTxt {
            padding: 4px 10px;
            font-size: 14px;
            bottom: 5px;
        }
        .Co2.grayCo2::after, .blueCo2::after {
            content: none;
        }
        .detail03_wrap {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        .puzzleBox_wrap .outBox {
            width: 100%;
            float: none;
        }
    }
    @media (max-width: 648px) {
        section.detail_content {
            max-width: 600px;
            padding: 0 20px;
            box-sizing: border-box;
        } 
        .deteil01_wrap > .txt_area h3 {
            font-size: 26px;
        }
        .detail02_wrap > h3 {
            font-size: 26px;
        }
        .detail02_wrap > h3 > span {
            font-size: 18px;
            line-height: 34px;
        }
        .detail03_wrap > h3 {
            font-size: 26px;
        }
        .graph_area {
            max-width: 480px;
            min-width: 458px;
            margin: 0 auto;
        }
        svg.graph05 {
            bottom: -11px;
        }
        svg.dashLine {
            left: -42px;
        }
        .img_wrap .arrowBox {
            width: 50px !important;
        }
        article.detail03 {
            width: 100%;
        }
        .puzzleBox_wrap .outBox {
            height: 196px;
        }
        .outBox .colorBox {
            font-size: 4vw;
            line-height: 5.5vw;
        }
        .imgBox {
            border: none !important;;
            border-top: 3px solid #fff !important;
            border-right: 3px solid #fff !important;
        }
        .imgBox img {
            width: 100%;
            height: 100%;
        }
        li.textBox {
            border-right: 3px solid #fff !important;
            font-size: 16px;
            line-height: 28px;
            padding: 16px;
        }    
        svg.graph01 {
            bottom: -45px;
        }
        svg.graph02 {
            bottom: -54px;
        }
        svg.graph03 {
            bottom: -67px;
        }
        svg.graph04 {
            bottom: -54px;
        }
        svg.graph05 {
            bottom: -21px;
        }
        .graphName > div {
            left: 133px;
        }
        .graphName .name02 {
            left: 243px;
        }
        .graphName .name03 {
            top: 170px;
        }
        .graphName .name04 {
            top: 199px;
        }
        .graphName .name05 {
            top: 241px;
        }
        .graphName .name06 {
            top: 290px;
        }
        .graphName .name07 {
            top: 209px;
        }
        svg.dashLine {
            bottom: 14px;
            left: -10px;
        }
    }
    @media (max-width: 491px) {
        section.detail_content {
            padding: 0 10px;
        }
        .banner .bn-earth-box .line_container {
            min-width: 420px;
        }
        .banner .bn-text-box .text-overlay{
            top: 52%;
        }
        .banner .text-overlay h2{
            font-size: 21px;
        }
        .f_18 {
            font-size: 10px;
        }
        .f_24 {
            font-size: 13px;
        }
        .banner .bn-text-box .f_17 {
            font-size: 8px;
        }
        .banner .bn-circle-box ul.circle {
            width: 70px;
            height: 74px;
        }
        .deteil01_wrap > .txt_area h3 {
            font-size: 22px;
        }
        .detail02_wrap > h3 {
            font-size: 22px;
        }
        .detail02_wrap > h3 > span {
            font-size: 15px;
            line-height: 19px;
        }
        .detail03_wrap > h3 {
            font-size: 22px;
            line-height: 34px;
        }
        .deteil01_wrap > .txt_area p {
            padding-top: 9px;
            font-size: 16px;
            line-height: 30px;
        }
        .graph_area {
            max-width: 400px;
            min-width: 1vw;
            height: 254px;
        }
        svg.graph01 {
            bottom: -65px;
        }
        svg.graph02 {
            bottom: -70px;
        }
        svg.graph03 {
            bottom: -82px;
        }
        svg.graph04 {
            bottom: -65px;
        }
        svg.graph05 {
            bottom: -28px;
        }
        .graphName > div {
            font-size: 9px;
            left: 110px;
        }
        .graphName .name02 {
            left: 198px;
        }
        .graphName .name03 {
            top: 118px;
            left: 113px;
        }
        .graphName .name04 {
            top: 144px;
            left: 107px;
        }
        .graphName .name05 {
            top: 178px;
            left: 126px;
        }
        .graphName .name06 {
            top: 215px;
            left: 122px;
        }
        .graphName .name07 {
            top: 145px;
        }
        svg.dashLine {
            bottom: 14px;
            left: -10px;
        }
        .detail02_wrap .img_wrap > .Co2 {
            max-width: 350px;
            min-width: 200px;
            margin: 0 auto;
            margin-top: 42px;
        }
        .img_wrap > .Co2 .arrowBox.arrow01 {
            left: 60px;
        }
        .img_wrap > .grayCo2 .arrowBox.arrow02 {
            right: 60px;
        }
        .img_wrap > .blueCo2 .arrowBox.arrow02 {
            right: 74px;
        }
        .img_wrap > .greenCo2 .arrowBox.arrow02 {
            right: 70px;
        }
        .img_wrap > .Co2 .arrowBox.arrow03 {
            left: 70px;
        }
        li.textBox {
            padding: 10px;
            font-size: 15px;
            line-height: 27px;
        }
}
@media (max-width: 425px) {
    .banner .bn-circle-box{
        top: 52.5%;
        height: 374px !important;
    }
}
@media (max-width: 422px) {
    .graph_area {
        max-width: 350px;
        height: 237px;
    }
    svg.graph01 {
        bottom: -82px;
    }
    svg.graph02 {
        bottom: -85px;
    }
    svg.graph03 {
        bottom: -95px;
    }
    svg.graph04 {
        bottom: -74px;
    }
    svg.graph05 {
        bottom: -32px;
    }
    .graphName > div {
        left: 99px;
    }
    .graphName .name02 {
        left: 175px;
    }
    .graphName .name03 {
        top: 118px;
        left: 105px;
    }
    .graphName .name04 {
        top: 141px;
        left: 99px;
    }
    .graphName .name05 {
        top: 171px;
        left: 118px;
    }
    .graphName .name06 {
        top: 206px;
        left: 114px;
    }
    .graphName .name07 {
        top: 140px;
    }
    svg.dashLine {
        bottom: 14px;
        left: -4px;
    }
}