@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    font-family: 'Pretendard Variable';
}
button {
    font-family: 'Pretendard Variable';
}
input {
    font-family: 'Pretendard Variable';
}
br.mob_space {
    display: none;
}

/*main*/
/*배너*/
.bannerWrap {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    background: #FCC865;
}
.banner_innerBox {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: url(../img_sub5/banner-event.png) #FCC865;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    position: relative;
}
.bn_textL, .bn_textR {
    font-size: 45px;
    line-height: 60px;
    position: absolute;
    bottom: 90px;
}
.bn_textL{
    width: auto;
    font-weight: 600;
    left: 0;
}
.bn_textR {
    width: auto;
    text-align: right;
    font-weight: 800;
    right: 0;
}

/*뒤죽박죽 사진 퀴즈*/
section.puzzle_wrap{
    width: 100%;
    height: 1422px;
    padding-top: 209px;
    padding-bottom: 115px;
    box-sizing: border-box;
    background: #68F394;
}
.puzzle_contetns {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative;
}
.puzzle_contetns .title_img {
    width: 58%;
    display: block;
    text-align: center;
    position: absolute;
    top: -130px;
    left: 22%;
    /* transform: translateX(-50%); */
}
.puzzle_contetns .title_img img{
    width: 100%;
}
.puzzle_contetns .quize_title {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
}
.puzzle_contetns .puzzle_box {
    width: 991px;
    height: 774px;
    margin: 0 auto;
}
.puzzle_contetns .puzzle_box img{
    width: 100%;
}
.puzzle_contetns .applyBtn {
    margin-top: 28px;
    text-align: center;
}
.applyBtn > button {
    width: 191px;
    padding: 8px 0;
    border-radius: 50px;
    background: #68F394;
    border: none;
    font-size: 32px;
    font-weight: 700;
}
.puzzle_contetns .love_img {
    width: 20%;
    position: absolute;
    left: -11%;
    top: 30%;
}
.puzzle_contetns .love_img img{
    width: 100%;
}

/*이벤트 참여*/
section.event_participate {
    width: 100%;
    overflow: hidden;
    padding: 120px 0;
    background: #FFFCDE;
}
.event_participate_inner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/*참여 방법*/
article.order_wrap {
    width: 100%;
    overflow: hidden;
}
.order_wrap > h4 {
    width: 91px;
    padding: 6px 0;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50px;
}
.oder_list_container {
    width: 100%;
    overflow: hidden;
    margin-top: 23px;
}
.oder_list_container ul.listBox {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}
ul.listBox li {
    width: 384px;
    height: 108px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
}
ul.listBox li .list_text_container {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
ul.listBox li .list_text_container span{
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #363636;
}
ul.listBox li .list_text_container .oder_count{
    font-size: 50px;
    font-weight: 700;
    color: #F07556;
    margin-right: 36px;
}
.oder_list_container .caption {
    margin-top: 23px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/*이벤트 참여 박스*/
article.execution_box {
    width: 100%;
    padding-top: 99px;
    padding-bottom: 70px;
    overflow: hidden;
}
.tab_content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.tab_content .contentBox {
    width: 49%;
    box-sizing: border-box;
}
.tab_content .contentBox .content_img_wrap {
    width: 100%;
    height: 204px;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
}
.tab_content .contentBox .content_img_wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
}
.tab_content .contentBox .title_container {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}
.tab_content .contentBox .title_container > span{
    width: auto;
    padding: 6px 10px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid #000;
}
.tab_content .contentBox .title_container > p {
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
}
.tab_content .contentBox .progress_wrap {
    width: 100%;
    margin-top: 16px;
}
.tab_content .contentBox .progress_wrap > ul{
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 17px;
    color: #747272;
}
.progress_wrap ul li.level{
    font-size: 15px;
    padding: 4px 10px;
    border-radius: 20px;
    color: #fff;
}
.progress_wrap ul li.people > span{
    display: inline-block;
    width: 10px;
    height: 18px;
    vertical-align: -3px;
    margin-right: 5px;
    background: url(../img_sub5/personnel-icon.svg);
}
/*contentBox focus 스타일*/
.focusBorder {
    border: 10px solid #F07556;
}
.nonfoucus_bg {
    background: #747272;
}
.focus_Bgcolor {
    background: #F07556;
}
.focus_color {
    color: #F07556;
}
/*참여자 작성 박스*/
article.participant_write_wrap {
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    background: #FFFAC5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #000;
}
.write_box {
    width: 100%;
    height: 724px;
    position: relative;
}
.write_box .write_item {
    position: absolute;
    top: 0;
    left: 0;
}
.writeNone {
    display: none;
}
.writrShow {
    display: block;
}
/*컨텐츠01 신청 박스*/
.write_item > span{
    padding: 6px 10px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid #000;
}
.write_item > h4 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 700;
}
.write_item .input_wrap {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.input_wrap textarea {
    width: 100%;
    height: 255px;
    padding: 18px;
    border-radius: 20px;
    resize: none;
    border: none;
    font-family: 'Pretendard Variable';
}
textarea:focus {
    outline: none; 
    border: none; 
}
ul.input_container {
    padding-top: 24px;
    display: flex;
    gap: 24px; 
    align-items: center;
    font-size: 18px; 
    flex-wrap: wrap; 
    border-radius: 8px; 
}
ul.input_container li{
    flex: 1 1 calc(48.9% - 24px);
}
ul.input_container li.last {
    visibility: hidden;
}
ul.input_container li.employee {
    padding: 30px 18px;
    border-radius: 18px;
    background: #E1E1E1;
    font-size: 18px;
    font-weight: bold;
}
ul.input_container li input {
    width: 100%;
    padding: 30px 18px;
    border: none;
    border-radius: 18px;
}
input:focus {
    outline: none; 
    border: none; 
}
input::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #000; 
}
textarea::placeholder {
    font-size: 18px;
}
/*동의 부분*/
.agree_container {
    padding-top: 48px;
    text-align: center;
}
.agree_container input {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    vertical-align: middle;
}
.agree_container label > span {
    font-size: 18px;
    font-weight: 400;
}
.bt_apply {
    text-align: center;
    padding-top: 64px;
}
.participant_write_wrap .applyBtn {
    text-align: center;
}



/*반응형*/
@media (max-width: 1268px) {
    /*배너*/
    .bannerWrap {
        height: 640px;
    }
    .banner_innerBox {
        max-width: 1000px;
    }
    .bn_textL, .bn_textR {
        font-size: 34px;
        bottom: 54px;
    }
    .bn_textL br.pc_space{
        display: block !important;
    }
    .bn_textR br.pc_space{
        display: block !important;
    }
    /*뒤죽박죽 사진 퀴즈*/
    section.puzzle_wrap {
        height: auto;
    }
    .puzzle_contetns {
        max-width: 800px;
        padding: 0 60px;
        padding-bottom: 60px;
    }
    .puzzle_contetns .puzzle_box {
        width: 100%;
        height: auto;
    }
    .puzzle_contetns .title_img {
        top: -75px;
    }
    /*이벤트 참여*/
    .event_participate_inner {
        max-width: 800px;
    }
    .oder_list_container ul.listBox {
        justify-content:flex-start;
        gap: 24px;
    }
    ul.listBox li {
        width: calc(100% / 3.2);
    }
    ul.listBox li .list_text_container .oder_count {
        font-size: 38px;
        margin-right: 16px;
    }
    ul.listBox li .list_text_container span {
        font-size: 16px;
        line-height: 27px;
    }
    br.mob_space{
        display: block;
    }
    br.pc_space {
        display: none !important;;
    }
    .oder_list_container .caption {
        font-size: 15px;
    }
    .tab_content .contentBox {
        width: 48%;
    }
    .tab_content .contentBox .title_container > p {
        font-size: 15px;
        line-height: 27px;
    }
    .content02 .title_container{
        bottom: 8px !important;
    }
    .tab_content .contentBox .progress_wrap > ul {
        font-size: 15px;
    }
    .progress_wrap ul li.level {
        font-size: 14px;
    }
    input::placeholder {
        font-size: 13px;
        font-weight: bold;
        color: #000; 
    }
    textarea::placeholder {
        font-size: 13px;
    }
    ul.input_container li.employee {
        font-size: 13px;
    }
    .applyBtn > button {
        font-size: 28px;
    }
}
@media (max-width: 1052px) {
    /*배너*/
    .bannerWrap {
        height: 510px;
        padding: 0 30px;
    }
    .banner_innerBox {
        max-width: 800px;
        background-position: center;
    }
    .bn_textL, .bn_textR {
        font-size: 30px;
        line-height: 42px;
    }
}
@media (max-width: 836px) {
    /*뒤죽박죽 사진 퀴즈*/
    .puzzle_contetns {
        max-width: 600px;
    }
    .puzzle_contetns .title_img {
        top: -58px;
    }
    .applyBtn > button {
        font-size: 24px;
    }
    /*이벤트 참여*/
    article.participant_write_wrap {
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .event_participate_inner {
        max-width: 600px;
    }
    .oder_list_container ul.listBox {
        display: block;
    }
    ul.listBox li {
        width: 100%;
        margin-bottom: 20px;
    }
    br.mob_space {
        display: none;
    }
    .tab_content {
        display: block;
    }
    .tab_content .contentBox {
        width: 100%;
        margin-bottom: 20px;
    }
    .write_box .write_item {
        width: 100%;
    }
    .input_wrap textarea {
        height: 155px;
    }
    ul.input_container {
        display: block;
    }
    ul.input_container li {
        margin-bottom: 24px;
    }
    ul.input_container li.employee {
        padding: 20px 18px;
    }
    ul.input_container li input {
        padding: 20px 18px;
    }
    /*동의 부분*/
    .agree_container label > span {
        font-size: 16px;
    }
    .agree_container input {
        width: 24px;
        height: 24px;
    }

}
@media (max-width: 714px) {
    /*배너*/
    .bn_textL, .bn_textR {
        font-size: 24px;
        line-height: 36px;
        bottom: 90px;
    }
}
@media (max-width: 664px) {
    /*배너*/
    .bn_textL, .bn_textR {
        font-size: 20px;
    }
    /*뒤죽박죽 사진 퀴즈*/
    section.puzzle_wrap {
        padding-top: 124px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .puzzle_contetns {
        max-width: 500px;
        padding: 30px;
    }
    .puzzle_contetns .title_img {
        width: 70%;
        top: -51px;
        left: 16%;
    }
    .puzzle_contetns .quize_title {
        padding-top: 38px;
        padding-bottom: 29px;
        font-size: 16px;
    }
    .quize_title br.mob_space {
        display: block;
        font-size: 16px;
        line-height: 26px;
    }
    .applyBtn > button {
        width: 150px;
        font-size: 20px;
    }
    /*이벤트 참여*/
    .event_participate_inner {
        max-width: 500px;
        padding: 0 30px;
    }
    ul.listBox li {
        height: 58px;
        padding: 0 16px;
    }
    ul.listBox li .list_text_container .oder_count {
        font-size: 28px;
    }
    ul.listBox li .list_text_container span {
        font-size: 14px;
    }
    .oder_list_container .caption {
        font-size: 13px;
        line-height: 18px;
    }
    .oder_list_container .caption br.mob_space {
        display: block;
    }
    .tab_content .contentBox .progress_wrap > ul {
        font-size: 14px;
    }
    .progress_wrap ul li.level {
        font-size: 13px;
    }
    .agree_container label > span {
        font-size: 13px;
    }
    .agree_container input {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 591px) {
    /*배너*/
    .bn_textL, .bn_textR {
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .bn_textL {
        bottom: 40px;
    }
    .bn_textR {
        bottom: 10px;
    }
    .bn_textL br.pc_space{
        display: none !important;
    }
    .bn_textR br.pc_space{
        display: none !important;
    }
}
@media (max-width: 481px) {
    ul.listBox li .list_text_container .oder_count {
        font-size: 20px;
    }
}
@media (max-width: 473px) {
    ul.listBox li:nth-child(2) {
        height: 71px;
    }
    ul.listBox li .list_text_container {
        text-align: left;
    }
    ul.listBox li .list_text_container .oder_count{
        float: left;
    }
    ul.listBox li .list_text_container span{
        display: block;
        line-height: 20px;
    }
    ul.listBox li .list_text_container .oder_count {
        height: 40px;
    }
    .puzzle_contetns .quize_title {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}
@media (max-width: 446px) {
    /*이벤트 참여*/
    .content02 .title_container {
        bottom: 25px !important;
        margin-right: 7px;
    }
    .tab_content .contentBox .title_container > p br.mob_space {
        display: block;
    }
    .write_item > h4 {
        font-size: 15px;
    }
    input::placeholder {
        font-size: 0.8em;
    }
    textarea::placeholder {
        font-size: 0.8em;
    }
    ul.input_container li.employee {
        font-size: 0.6em;
    }
}
@media (max-width: 417px) { 
    /*배너*/
    .bannerWrap {
        height: 419px;
    }
    .bn_textL, .bn_textR {
        font-size: 17px;
    }

}