
body {
  font-family: "Noto Sans KR", serif;
}
/*section03*/
.section03 {
  padding-top: 50px;
}
.section03 > .section-title{
  text-align: center;
}
.section03 .content_wrap ul {
  width: 100%;
}
.section03 .container {
  margin-left: 6%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section03 .container .item {
  cursor: pointer;
}
.section03 .box1 {
  width: 46.5%;
  height: 328px;
  padding: 0.5%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.section03 .box2 {
  width: 30%;
  height: 282px;
  overflow: hidden;
  padding: 0.5%;
  text-align: center;
  position: relative;
}
.section03 .item1 {
  width: 40.5%;
}
.section03 .item2 {
  width: 52%;
}
.section03 .item3 {
  width: 23%;
}
.section03 .item4 {
  width: 23%;
}
.section03 .item5 {
  width: 45%;
}

.section03 .container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.section03 .container .item .box_title{
  width: 100%;
  padding: 28px 32px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
}
.section03 .container .item .box_title span{
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600; 
}
.section03 .container .item .box_title h3{
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}
.section03 .container .item .addBox {
  position: absolute;
  top: 16px;
  right: 16px;
}
  
  
  /*section04*/
  .section04{
    width: 100%;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 60px;
    background: #E8E5E5;
  }
  .section04 > .section-title{
    text-align: center;
    margin-bottom: 45px;
  }
  .section04 .content_wrap ul{
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 32px 5%;
  }
  .section04 .content_wrap ul li{
    width: 180px;
    height: 180px;
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  .section04 .content_wrap ul li img{
    float: left;
  }
  .section04 .content_wrap ul li span{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 134px;
    bottom: 12px;
    z-index: 20;
  }
  .section04 .content_wrap ul li span img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
  
  /*footer*/
  .footer {
    padding: 58px 0;
    background: #F5F5F8;
    }
    .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .footer .left {
    width: 100%;
    }
    .footer .left .kogas-logo {
    width: 100%;
    max-width: 223px;
    }
    .footer .left .kogas-logo img {
    width: 100%;
    display: block;
    }
    .footer .left .text-box {
    margin-top: 20px;
    }
    .footer .left .text-box p {
    font-family: "Noto Sans KR", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    }
    .footer .right {
    width: 100%;
    max-width: 290px;
    }
    .footer .right .basketball {
    display: flex;
    align-items: flex-end;
    gap: 53px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    }
    .footer .right .basketball p {
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    }
    .footer .right .basketball .basketball-logo {
    display: block;
    width: 100%;
    max-width: 68px;
    }
    .footer .right .bb-sns-group {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 17px;
    }
    .footer .right .bb-sns-group li a {
    width: 34px;
    height: 34px;
    display: block;
    }
    .footer .right .bb-sns-group li a img {
    width: 100%;
    height: 100%;
    display: block;
    }

    /*반응형*/
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer .content {
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;
      }
    }

  @media (max-width: 1697px) {
      #home .main-visual .content .visual-img{
        object-fit: contain;
      }
      #home .section01 {
        height: auto;
      }
      #home .section01 .content .section-title {
        position: static;
        margin-left: 10%;
      }
      #home .section01 .content .section-title img {
        position: static;
        transform: translate(-59px, 1px);
      }
      #home .section01 .content .card01 {
        width: 80%;
        max-width: none;
        margin-left: 0;
        margin: 0 auto;
      }
      #home .section01 .content .card02 {
        width: 80%;
        max-width: none;
        margin-left: 0;
        margin: 0 auto;
        position: static !important;
      }
      #home .section01 .content .card03 {
        width: 80%;
        max-width: none;
        margin-left: 0;
        margin: 4em auto;
        position: static !important;
      }
    
      #home .section01 .content .card01 .img-box {
        height: 360px;
      }
      #home .section01 .content .card02 .img-box {
        height: 360px;
      }
      #home .section01 .content .card03 .img-box {
        height: 360px;
    }
    }

    @media (max-width: 1474px) {
      /*section03*/
      .section03 .item1 {
        width: 46%;
      }
      .section03 .item2 {
        width: 46%;
      }
      .section03 .item3 {
        width: 46%;
      }
      .section03 .item4 {
        width: 46%;
      }
      .section03 .item5 {
        width: 46%;
      }
    }
  
    @media (max-width: 1100px) {
      #home .main {
        width: 100%;
        display: block;
      }
      #home .main-visual {
        position: static;
        width: 100%;
      }
      #home .section-wrap {
        width: 100%;
      }
      #home .main-visual .content {
        width: 100%;
        height: 50em;
        position: static;
      }
      #home .section01 {
        margin-top: 0;
      }
    }
  
    @media (max-width: 1038px) {
      .header .content {
        padding: 12px 0;
      }
      .header .gnb {
        display: none;
      }
    }

    @media (max-width: 767px) {
      /*footer*/
      .footer {
          padding: 60px 0;
      }
      .footer .content {
          flex-direction: column;
          gap: 40px;
      }
      .footer .right {
          max-width: 100%;
      }
      .footer .right .basketball {
          width: 100%;
          justify-content: space-between;
      }
      /*section02*/
      #home .section02 .conts-wrap .card{
        height: 580px;
        display: block;
        position: relative !important;
      }
      #home .section02 .conts-wrap .card .img-box{
        height: 242px;
        margin: 0 auto;
        top: -117px;
      }
      #home .section02 .conts-wrap .card-text {
        font-size: 1.8em;
        width: 330px;
        position: absolute;
        left: 50%;
        top: 280px;
        transform: translateX(-50%);
    }
    #home .section02 .conts-wrap .card-obj {
      left: 50%;
      top: 430px;
      transform: translateX(-210%);
  }

      /*section03*/
      .section03 .container {
        margin-left: 6%;
        margin-right: 6%;
      }
      .section03 .item1 {
        width: 100%;
      }
      .section03 .item2 {
        width: 100%;
      }
      .section03 .item3 {
        width: 100%;
      }
      .section03 .item4 {
        width: 100%;
      }
      .section03 .item5 {
        width: 100%;
      }
    }
  
    @media (max-width: 612px) {
      /*section02*/
      #home .section02 .section-obj {
        width: 60%;
        transform: translateX(-56%);
        top: 0;
      }
      #home .section02 .section-title {
        gap: 2.6em;  
      }
      #home .section02 .conts-wrap .tabs .tab {
        padding-top: 12px;
        height: 92px;
        display: block;
      }
      #home .section02 .conts-wrap .tabs .tab .none{
        display: block
      }
      /*section04*/
      .section04 .content_wrap ul {
        width: 87%;
        padding: 0 0px;
        margin: 0 auto;
        justify-content: flex-start;
      }
      .section04 .content_wrap ul li {
        width: 47.5%;
        height: 244px;
      }
      .section04 .content_wrap ul li img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        object-fit: cover;
      }
      .section04 .content_wrap ul li span {
        left: auto;
        right: 10px;
      }
    }

    @media (max-width: 534px) {
      /*모바일 메뉴*/
      .header .offcanvas .offcanvas-header .vol-info {
        font-size: 28px;
        margin-top: 10px;
      }
      .header .offcanvas .offcanvas-menu .menu-title {
        font-size: 26px;
      }
      #home .section-wrap .section-title {
        font-size: 36px;
      }
    }
    @media (max-width: 480px) {
      .section04 .content_wrap ul li {
        height: 184px;
      }
    }
    @media (max-width: 421px) {
      #home .section-wrap .section-title {
        font-size: 30px;
      }
    }

  